@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.badan
{
    background : #fec107;
    padding: 0 10px;
}

.isian
{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 125);
}

.isian .judul
{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.isian .form
{
    width: 100%;
}

.isian .form .data
{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.isian .form .data label
{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.isian .form .data .button
{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}